.buttons {
    display: flex;
    gap: var(--spacing-buttons-gap);
    margin-top: 32px;
}

.button {
    flex: 1;
    height: var(--height-button);
    border: none;
    border-radius: var(--radius-button);

    font-size: var(--font-button);
    font-weight: 700;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}


.button-secondary {
    background: var(--color-btn-secondary);
    color: var(--color-btn-text);
}


.button-primary {
    background: var(--color-btn-primary);
    color: var(--color-btn-text);
}
